@{
    ViewData["Title"] = "CMCS Prototype";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Contract Monthly Claim System (Prototype)</h1>

    <nav class="d-flex justify-content-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/Home/Lecturer">Lecturer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Coordinator">Coordinator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Manager">Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Status">Status</a>
            </li>
        </ul>
    </nav>
</div>
